name: Deploy AWS Lambda

on:
  push:
    branches: [main] # ou a branch que quiser

jobs:
  deploy:
    name: Build and Deploy to AWS Lambda
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm ci

      - name: Build TypeScript
        run: npm run build

      - name: Copy package.json to dist
        run: cp package.json dist/

      - name: Install production deps
        working-directory: dist
        run: npm install --omit=dev

      - name: Zip Lambda code
        run: |
          cd dist
          zip -r ../lambda.zip .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name ErpCrmIntegration \
            --zip-file fileb://lambda.zip
